In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\cafe\\dirty1.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [4]:
df['Item'] = df['Item'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Quantity'] = df['Quantity'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Price Per Unit'] = df['Price Per Unit'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Total Spent'] = df['Total Spent'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Payment Method'] = df['Payment Method'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Location'] = df['Location'].replace(['UNKNOWN', 'ERROR',' '], np.nan)
df['Transaction Date'] = df['Transaction Date'].replace(['UNKNOWN', 'ERROR',' '], np.nan)

In [5]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [6]:
df['Location'] = df['Location'].apply(lambda x: np.random.choice(['Takeaway', 'In-store']) if pd.isna(x) else x)
df['Payment Method'] = df['Payment Method'].apply(lambda x: np.random.choice(['Credit Card', 'Digital Wallet','Cash']) if pd.isna(x) else x)

In [7]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [8]:
df['Payment Method'].value_counts()

Payment Method
Digital Wallet    3366
Credit Card       3333
Cash              3301
Name: count, dtype: int64

In [9]:
df['Quantity'] = df['Quantity'].astype(float)
df['Price Per Unit'] = df['Price Per Unit'].astype(float)
df['Total Spent'] = df['Total Spent'].astype(float)

In [10]:
df['Total Spent'] = df['Quantity'] * df['Price Per Unit']
df['Quantity'] = df['Total Spent'] / df['Price Per Unit']
df['Price Per Unit'] = df['Total Spent'] / df['Quantity']

In [11]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [12]:
df['Total Spent'] = df['Quantity'] * df['Price Per Unit']

In [13]:
df['Quantity'] = df['Total Spent'] / df['Price Per Unit']

In [14]:
df['Price Per Unit'] = df['Total Spent'] / df['Quantity']

In [15]:
df.isna().sum().sum()

np.int64(4411)

In [16]:
df.loc[df['Price Per Unit'] == 1.0 , 'Item'] = 'cookie'
df.loc[df['Price Per Unit'] == 1.5 , 'Item'] = 'tea'
df.loc[df['Price Per Unit'] == 2.0 , 'Item'] = 'Coffee'
df.loc[df['Price Per Unit'] == 5.0 , 'Item'] = 'salad'

In [17]:
mask = df['Price Per Unit'] == 3.0

df.loc[mask, 'Item'] = np.random.choice(['Cake', 'Juice'], size=mask.sum())

In [18]:
mask = df['Price Per Unit'] == 4.0

df.loc[mask, 'Item'] = np.random.choice(['Smoothie', 'Sandwich'], size=mask.sum())

In [19]:
df['Item'].value_counts()

Item
Juice       1284
Coffee      1272
Cake        1253
Smoothie    1217
Sandwich    1206
salad       1147
cookie      1089
tea         1071
Salad        118
Tea          117
Cookie       116
Name: count, dtype: int64

In [20]:
df.to_csv('clean1.csv', index=False)